argon2-cffi 
async-generator==1.10
attrs 
backcall 
backports.functools-lru-cache 
bleach 
brotlipy 
certifi==2021.10.8
cffi 
charset-normalizer 
colorama 
cryptography 
cycler 
Cython 
debugpy 
decorator 
defusedxml 
entrypoints 
fonttools 
idna 
importlib-metadata 
importlib-resources 
imutils==0.5.4
ipykernel 
ipython 
ipython-genutils==0.2.0
jedi 
Jinja2 
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
kiwisolver 
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune 
mpmath==1.2.1
munkres==1.1.4
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy 
olefile 
opencv-python==4.5.4.60
packaging 
pandas 
pandocfilters 
parso 
patsy 
pickleshare 
Pillow 
prometheus-client 
prompt-toolkit 
pycparser 
Pygments 
PyOpenGL 
PyOpenGL-accelerate 
pyOpenSSL 
pyparsing 
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent 
PySocks 
python-dateutil 
pytz 
pywin32==302
pywinpty 
PyYAML 
pyzed 
pyzmq 
requests 
scipy 
seaborn 
Send2Trash 
six 
statsmodels 
sympy==1.9
terminado
testpath
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tornado
tqdm
traitlets
typing_extensions
unicodedata2
urllib3
wcwidth
webencodings==0.5.1
win-inet-pton
zipp
